<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Các quyền cần thiết -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_3_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelApp"
        tools:targetApi="31">
        <activity
            android:name=".order.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".admin.userManagement.ui.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".admin.admin.ui.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".payment.ui.PaymentNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".payment.ui.PaymentActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.productManagement.ui.ProductManagementActivity"
            android:exported="false" />
        <activity
            android:name=".admin.productManagement.ui.AddEditProductActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.SplashAuthenticationActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.ui.TicketActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".home.ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>